@import "ui-variables";

.alloy-solution {

  display: flex;
  flex-direction: column;

  cursor: default;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  .header {

    display: flex;
    justify-content: space-between;

    padding: 0 0.5em 0.5em 0.5em;

  }

  .body {

    display: flex;
    flex: 1 0 auto;
    color: @text-color-subtle;
    font-size: @input-font-size;

  }

  .centered {

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

  }

  .button {

    display: flex;
    cursor: pointer;
    color: @text-color;
    border: 1px solid @button-border-color;
    background-color: @button-background-color;
    padding: @component-padding;

    &:hover {
      background-color: @button-background-color-hover;
    }

  }

}