@import "ui-variables";

.alloy-solution {

  display: flex;
  flex-direction: column;

  cursor: default;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  .header {

    display: flex;
    justify-content: space-between;

    padding: 0 0.5em 0.5em 0.5em;

  }

  .body {

    display: flex;
    flex: 1 0 auto;
    color: @text-color-subtle;
    font-size: @input-font-size;

  }

  .centered {

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    svg {
      flex: 1 0 auto;
      align-self: stretch;
    }

  }

  .button {

    display: flex;
    cursor: pointer;
    color: @text-color;
    border: 1px solid @button-border-color;
    background-color: @button-background-color;
    padding: @component-padding;

    &:hover {
      background-color: @button-background-color-hover;
    }

  }

  .header-mesh {

    display: flex;
    flex: 0 0 auto;

    background-color: @button-background-color;
    color: @text-color;
    padding: 0.5em;
    line-height: 1.3em;

    cursor: pointer;

    .prefix {
      min-width: 2em;

      display: flex;
      align-items: center;
      justify-content: center;

    }

    .content {
      padding-left: 1em;
      border-left: 1px solid lighten(@button-border-color, 5%);
    }

    &:hover {
      background-color: @button-background-color-hover;
    }

  }

}